* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #70164b;
  }
  .tituloContacto {
    padding: 10px;
  }
  
  .contenedorFormulario {
    padding: 10px;
  }
  
  .form-control__texrarea {
    width: 100%;
    height: 180px;
  }
  
  .botonFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .boton {
    background: #35001f;
    border: none;
    width: 110px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #c488b7;
  }
  
